@use '../../abstract/index' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
.container {
  width: 100%;
  min-height: 100vh;
  background-color: $white;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Work Sans", sans-serif;
}

::placeholder {
  color: $gray;
}

.container {
  background-color: transparent;
}

.--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.--warp {
  flex-wrap: wrap;
}

.--gap {
  &-1 {
    gap: 1em;
  }
}

.--w {
  &-100 {
    width: 100%;
  }
  &-75 {
    width: 75%;
  }
  &-50 {
    width: 50%;
  }
  &-25 {
    width: 25%;
  }
  &-auto {
    width: auto;
  }
}

.--opacity {
  &-100 {
    opacity: 1;
  }
  &-75 {
    opacity: 0.75;
  }
  &-50 {
    opacity: 0.5;
  }
  &-25 {
    opacity: 0.25;
  }
}

.--mb {
  &-large {
    margin-bottom: $margin-large;
  }
  &-regular {
    margin-bottom: $margin-regular;
  }
  &-small {
    margin-bottom: $margin-small;
  }
}

.--mt {
  &-large {
    margin-top: $margin-large;
  }
  &-regular {
    margin-top: $margin-regular;
  }
  &-small {
    margin-top: $margin-small;
  }
}

.--padding {
  &-large {
    padding: $padding-large;
  }
  &-regular {
    padding: $padding-regular;
  }
  &-small {
    padding: $padding-small;
  }
}

.--pdb {
  &-none {
    padding-bottom: 0;
  }
}

.background {
  &--bottom {
    @include background-bottom();
  }
  &--top {
    @include background-top();
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
