@use './abstract/index' as *;

.text {
  display: block;
  color: $black;
  transition: color 200ms ease-in-out;
  &--hover {
    &-primary:hover {
      color: $primary;
    }
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
  &--left {
    text-align: left;
  }
  &--justify {
    text-align: justify;
  }
  &--decoration {
    &-none {
      text-decoration: none;
    }
    &-underline {
      text-decoration: underline;
    }
  }
  &--size {
    &-title {
      font-size: 2rem;
      font-weight: $font-weight-bold;
    }
    &-subtitle {
      font-size: 1.5rem;
      font-weight: $font-weight-semi-bold;
    }
    &-regular {
      font-size: 1rem;
      font-weight: $font-weight-regular;
    }
    &-regular-light {
      font-size: 1rem;
      font-weight: $font-weight-light;
    }
    &-small {
      font-size: 0.85rem;
      font-weight: $font-weight-regular;
    }
    &-small-light {
      font-size: 0.85rem;
      font-weight: $font-weight-light;
    }
  }

  &--clickable {
    cursor: pointer;
  }

  &--color {
    &-primary {
      color: $primary;
      &-light {
        color: $primary-light;
      }
      &-extra-light {
        color: lighten($color: $primary-light, $amount: 10);
      }
    }
    &-white {
      color: $white;
    }
    &-black {
      color: $black;
    }
    &-gray {
      color: $gray;
    }
    &-light-gray {
      color: $gray-light;
    }
  }

  &--overflow {
    &-hidded {
      overflow: hidden;
      text-overflow: clip;
    }
    &-ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
