@use '../abstract/index' as *;

@keyframes slide-in {
  0% {
    right: -50%;
    opacity: 0;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}

.login {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: $padding-regular;
  min-height: 65vh;
  border-radius: 8px;
  @include shadow();
  border: 1px solid lighten($color: $gray-extra-light, $amount: 3.5);
  position: relative;
  animation: slide-in forwards 200ms ease-in-out;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__image {
    width: 32px;
    height: 32px;
  }
}

@media (min-width: 900px) {
  .login {
    min-width: 450px;
    max-width: 470px;
    width: 30%;
    min-height: 75vh;
    margin: $margin-regular;
  }
  .logo {
    width: 100%;
    &__image {
      width: 64px;
      height: 64px;
    }
  }
}
