@use '../../abstract/index' as *;

.btn {
  color: $black;
  border: none;
  padding: $padding-small;
  cursor: pointer;
  &--radius {
    &-4 {
      border-radius: 4px;
    }
    &-8 {
      border-radius: 8px;
    }
    &-16 {
      border-radius: 16px;
    }
    &-32 {
      border-radius: 32px;
    }
  }
  &__image--circular {
    width: 100%;
    border-radius: 50%;
  }
  &--circular {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: transparent;
  }
  &--primary {
    color: $white;
    background-color: $primary;
    @include background-color-out($primary, 200ms);
    &:hover {
      @include background-color-in($primary, 200ms);
    }
  }
}
