@use '../../abstract/index' as *;

@keyframes input-field-active {
  0% {
    border-bottom: 1px solid $black;
  }
  100% {
    border-bottom: 1px solid $whine-extra-light;
  }
}

@keyframes input-field-inactive {
  0% {
    border-bottom: 1px solid $whine-extra-light;
  }
  100% {
    border-bottom: 1px solid $black;
  }
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  color: $black;
  width: 100%;
  &-field {
    &-white {
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);
      padding: $padding-extra-small;
    }
    animation: input-field-inactive forwards 200ms linear;
    padding: $padding-small;
    &--color {
      &-white {
        color: white;
      }
    }
    &--placeholder {
      &-white {
        &::placeholder {
          color: $white;
        }
      }
    }
  }
  &--active {
    animation: input-field-active forwards 200ms linear;
  }
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 auto;
  padding: $padding-extra-small;
  border-radius: 8px;
}
