@use '../../abstract/index' as *;

@keyframes input-field-active {
  0% {
    border-bottom: 1px solid $black;
  }
  100% {
    border-bottom: 1px solid $primary;
  }
}

@keyframes input-field-inactive {
  0% {
    border-bottom: 1px solid $primary;
  }
  100% {
    border-bottom: 1px solid $black;
  }
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
  color: $black;
  width: 80%;
  &-field {
    padding: $padding-extra-small;
    &-white {
      border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);
    }
    &-black {
      border-bottom: 1px solid rgba($color: $black, $alpha: 0.5);
    }
    &-gray {
      border-bottom: 1px solid rgba($color: $gray, $alpha: 0.5);
    }
    &-light-gray {
      border-bottom: 1px solid rgba($color: $gray-light, $alpha: 0.5);
    }
    &-none {
      border-bottom: none;
    }
    animation: input-field-inactive forwards 200ms linear;
    &--color {
      &-white {
        color: $white;
      }
      &-black {
        color: $black;
      }
      &-gray {
        color: $gray;
      }
      &-light-gray {
        color: $gray-light;
      }
    }
    &--placeholder {
      &--center {
        &::placeholder {
          text-align: center;
        }
      }
      &-white {
        &::placeholder {
          color: $white;
        }
      }
      &-black {
        &::placeholder {
          color: $black;
        }
      }
      &-gray {
        &::placeholder {
          color: $gray;
        }
      }
      &-light-gray {
        &::placeholder {
          color: $gray-light;
        }
      }
    }
  }
  &--active {
    animation: input-field-active forwards 200ms linear;
  }
}
