@use '../../abstract/index' as *;

.searchbar {
  flex: 1 1 auto;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: $padding-small;
  border-radius: 8px;
  background-color: $gray-extra-light;
}
