@use '../../abstract/index' as *;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loading {
  animation: fade-in 200ms forwards linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.loading-socials {
  width: 100%;
  max-width: 32px;
  height: 16px;
}
