@use '../../abstract/colors' as *;

.go-to-top {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: fixed;
  background-color: red;
  bottom: 1%;
  right: 1%;
  z-index: 20;
  cursor: pointer;
  background-color: $black;
  border: 1px solid $primary;
  &__img {
    width: 100%;
    padding: 0.5em;
  }
  &--fade {
    &-in {
      animation: fade-in forwards 200ms linear;
    }
    &-out {
      animation: fade-out forwards 200ms linear;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.6);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@media (min-width: 900px) {
  .go-to-top {
    width: 32px;
    height: 32px;
  }
}
