//Main Colors
$primary: hsl(171, 100%, 35%); //#00b398
$primary-light: hsl(151, 100%, 65%);
$secondary: hsl(164, 100%, 82%);
$secondary-light: hsl(147, 100%, 96%);

//Neutral
$white: hsl(255, 100%, 100%);
$black: hsl(0, 0%, 4%);
$gray: hsl(0, 0%, 42%);
$gray-light: hsl(120, 1%, 75%);
$gray-extra-light: hsl(240, 3%, 93%);
