//Main Colors
$primary: hsl(259, 34%, 30%);
$primary-light: hsl(272, 26%, 55%);
$secondary: hsl(240, 47%, 22%);
$secondary-light: hsl(244, 41%, 46%);

//Neutral
$white: hsl(255, 100%, 100%);
$black: hsl(0, 0%, 4%);
$gray: hsl(0, 0%, 42%);
$gray-light: hsl(120, 1%, 75%);
$gray-extra-light: hsl(240, 3%, 93%);
