//Main Colors
$whine-extra-light: hsl(342, 93%, 40%);
$whine-light: hsl(336, 91%, 31%);
$whine: hsl(348, 53%, 28%);

//Neutral
$white: hsl(255, 100%, 100%);
$black: hsl(240, 5%, 11%);
$gray: hsl(240, 1%, 31%);
