@use './colors' as *;

@mixin background-bottom {
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  transform: translate(0, -100%);
}

@mixin background-top {
  position: absolute;
  z-index: -1;
  top: 0%;
  width: 100%;
}

@mixin background-color-in($color, $duration) {
  @keyframes bg-in {
    0% {
      background-color: $color;
      box-shadow: 1px 1px 1px 1px lighten($color: $black, $amount: 100);
    }
    100% {
      background-color: lighten($color: $color, $amount: 10);
      box-shadow: 1px 4px 8px 1px lighten($color: $black, $amount: 60);
    }
  }
  animation: bg-in forwards $duration linear;
}

@mixin background-color-out($color, $duration) {
  @keyframes bg-out {
    0% {
      background-color: lighten($color: $color, $amount: 10);
      box-shadow: 1px 4px 8px 1px lighten($color: $black, $amount: 60);
    }
    100% {
      background-color: $color;
      box-shadow: 1px 1px 1px 1px lighten($color: $black, $amount: 100);
    }
  }
  animation: bg-out forwards $duration linear;
}
