@use './colors' as *;

@mixin fade-in($speed) {
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  animation: fade $speed forwards ease-in-out;
}

@mixin background-bottom {
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  transform: translate(0, -100%);
}

@mixin background-top {
  position: absolute;
  z-index: -1;
  top: 0%;
  width: 100%;
}

@mixin background-color-in($color, $duration) {
  @keyframes bg-in {
    0% {
      background-color: $color;
    }
    100% {
      background-color: lighten($color: $color, $amount: 10);
    }
  }
  animation: bg-in forwards $duration linear;
}

@mixin background-color-out($color, $duration) {
  @keyframes bg-out {
    0% {
      background-color: lighten($color: $color, $amount: 10);
    }
    100% {
      background-color: $color;
    }
  }
  animation: bg-out forwards $duration linear;
}

@mixin shadow {
  box-shadow: 1px 1px 6px 1px lighten($color: $gray-extra-light, $amount: 2.5),
    -1px -1px 6px 1px lighten($color: $gray-extra-light, $amount: 2.5);
}
