@use '../../abstract/index' as *;

@keyframes pfp-slide-in {
  0% {
    opacity: 0;
    top: 84px;
  }
  100% {
    opacity: 1;
    top: 80px;
  }
}

.nav {
  width: 100%;
  padding: $padding-regular;
  height: auto;
  background-color: $primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $margin-regular;
  box-shadow: 1px 1px 3px 1px $gray-extra-light;
  &-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-dropdown {
      position: absolute;
      min-width: 135px;
      background-color: $white;
      box-shadow: 1px 1px 3px 1px $gray-extra-light,
        -1px -1px 3px 1px $gray-extra-light;
      right: 16px;
      z-index: 2;
      gap: $padding-small;
      padding: $padding-regular;
      display: none;
      animation: pfp-slide-in reverse 200ms ease-in-out;
      &--active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1em;
        animation: pfp-slide-in forwards 200ms ease-in-out;
      }
    }
    &__pfp {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid $primary;
      transition: border 200ms ease-in-out;
      &:hover {
        border: 1px solid $primary-light;
      }
    }
    &__arrow {
      width: 16px;
    }
  }
}
